.App {
  text-align: center;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  padding-left: 80px;
  text-shadow: 4px 4px 4px #aaa;
}

.hero-title {
  font-family: 'Permanent Marker', cursive;
  padding-left: 80px;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.point-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
} 

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: gray;
  font-family: American Typewriter, serif;
}

nav {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: darkgray;
  list-style-type: none;
	margin: 0;
	padding: 0;
  text-align: center;
  border-bottom: double;
  opacity: 1;
  text-align: right;
} 

link:active{
color: #000;
}
.library {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

.song {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

.album-details {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

#time-control {
  font-family: 'Permanent Marker', cursive;
  font-size: 100%;
} 

#volume-control {
  font-family: 'Permanent Marker', cursive;
  font-size: 100%;
}


.player-bar:hover{
  transform: scale(1.05);
  color: #000;
}

#play-pause:hover, #previous:hover, #next:hover{
  transform: scale(1.5);
}




.song-title {
color: burlywood
}
.song-duration{
  color:  rgb(68, 45, 14)
}

.ion-play:hover{
  transform: scale(1.05);
}

.library{
  position: relative;
  background: url('https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?cs=srgb&dl=cassette-cassette-tape-music-92083.jpg&fm=jpg') no-repeat;
  background-size: cover;
  background-position: center;

}



.album{
  position: relative;
  background: url('https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?cs=srgb&dl=cassette-cassette-tape-music-92083.jpg&fm=jpg') no-repeat;
  background-size: cover;
  background-position: center;

}

a:hover{
  transform: scale(1.05);
  color: #000
}

.library:hover{
  transform: scale(1.05);
  
}
nav1 {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: darkgray;
  list-style-type: none;
	margin: 0;
	padding: 200;
  text-align: center;
  border-bottom: double;
  opacity: 1;
  text-align: right;
} 

nav1:hover{
  transform: scale(2);
}