
body{
  position: relative;
  background: url('https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?cs=srgb&dl=cassette-cassette-tape-music-92083.jpg&fm=jpg') no-repeat;
  background-size: cover;
  background-position: center;

}
body, html {
  height: 100%;

}


